
.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer > h1 {
    font-size: 10vw;
}

.timerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 90vw;
    overflow: hidden;
}

.timerContainer .doublePoints {
    text-shadow: 0 5px 5px rgba(53, 53, 53, .2);
    font-size: 10vw;
}

.numberContainer {
    width: calc(90vw / 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.numberContainer>div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.numberContainer>h1 {
    text-shadow: 0 5px 5px rgba(53, 53, 53, .2);
    font-size: 15vw;
}

.flipContainer {
    overflow: hidden;
}

.flipContainer>h1 {
    text-shadow: 0 5px 5px rgba(53, 53, 53, .2);
    font-size: 15vw;
}

@media all and (min-width: 960px) {
    .mainContainer > h1 {
        font-size: 100px;
    }
    .numberContainer {
        margin: 30px;
    }
}

@media all and (max-width: 600px) {
    .numberContainer {
        margin: 5px;
    }
    .numberContainer>p {
        font-size: 10px;
    }
}