@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: linear-gradient(#FFA37D, #FF627C) no-repeat
}

* {
  margin: 0;
  padding: 0;
}

